.form {
    display: grid;
    grid-template-columns: auto 150px;
    grid-gap: 20px;
}

.form__input {
    padding: 5px;
}

.form__button {
    background-color: #008080;
    color: white;
    padding: 7px;
    border: none;
    cursor: pointer;
}

.form__button:hover {
    background-color: #009c9c;
    transform: scale(1.1);
}

.form__button:active {
    background: hsl(180, 100%, 35%);
}

@media (max-width: 767px) {

    .form {
        display: flex;
        flex-wrap: wrap;
    }
  
    .form__input {
        width: 100%;
        margin-bottom: -5px;
    }

    .form__button {
        Width: 100%;
    }
  }