html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  word-break: break-word;
  justify-content: center;
  max-width: 900px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #ececec;

}

main {
  margin: 50px 20px 20px 20px;
}
