.buttons {
    display: flex;
    flex-wrap: row;
    justify-content: center;
}

.buttons__button {
    color: #008080;
    background: transparent;
    border: none;
    margin: 10px 0 0 10px;
    transition: color 0.3s;
}

.buttons__button:hover {
    color: hsl(180, 100%, 35%);
    background-color: #ffffff;
    transform: scale(1.1);
}

.buttons__button:active {
    color: hsl(180, 100%, 40%);
}

.buttons__button:disabled {
    color: #ccc;
}

@media (max-width: 767px) {

    .buttons__button {
        display: flex;
        flex-basis: 100%;
        margin: 10px;
        flex-wrap: center;
        justify-content: center;
    }
}